:root {
  // Azul
  --tk-blue-light: #66AFFF;
  --tk-blue-neutral: #66BFFF;
  --tk-blue-dark: #0095FF;

  // Azul Claro
  --tk-lightblue-lighter: #EFF2F9;
  --tk-lightblue-light: #E4EBFB;
  --tk-lightblue-neutral: #D0DAEF;
  --tk-lightblue-dark: #C2D8FF;

  // Azul marginho
  --tk-navyblue-dark: #04183E;
  --tk-navyblue-neutral: #354564;
  --tk-navyblue-light: #7183A6;

  // Branco
  --tk-white-neutral: #FFFFFF;
  --tk-white-dark: #F5F5F5;

  // Verde
  --tk-green-light: #91DEA2;
  --tk-green-neutral: #1DC763;
  --tk-green-dark: #17944B;

  // Vermelho
  --tk-red-light: #FFBFBF;
  --tk-red-neutral: #FF0100;

  // Rosa
  --tk-pink-neutral: #F4AEFF;

  // Roxo
  --tk-purple-neutral: #4743FF;

  // Cinza
  --tk-grey-lighter: #0C0C0CB2;
  --tk-grey-light: #464141;
  --tk-grey-neutral: #252323;
  --tk-grey-dark: #1D1B1B;
}
